################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AzureRedisForCache/.vs/AzureRedisForCache
/.vs
/AzureRedisForCache/AzureRedisForCache/obj
/AzureRedisForCache/.vs/ProjectEvaluation
/AzureRedisCache/obj
/AzureRedisCache/bin/Debug/net6.0
